body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.header a,
.footer a {
  font-size: 18px;
  color: white;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

h3.newyork {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

.copyright {
  font-size: 11px;
}

.description {
  font-size: 14px;
}
